---
layout: default
title: Home
---

{% assign latest_post = site.posts[0] %}
<div class="alert alert-success">
<p class="lead">
  Latest news:
  <a href="{{ latest_post.url | prepend: site.baseurl }}" class="alert-link">
    {{ latest_post.title }}
  </a>
  </p>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>Welcome to the Midwestern Robotics Design Competition</h1>
	</div>
</div>

<div class="row">
  
  {% assign menu_pages = site.html_pages | sort: 'menu_position' %}
  {% for p in menu_pages %}
    {% if p.menu_position %}
      <div class="col-sm-6 extra-padding">
        <a href="{{ p.url | prepend: site.baseurl }}" class="btn btn-block btn-lg btn-primary">
          <h2>{{ p.title }}</h2>
        </a>
      </div>
    {% endif %}
  {% endfor %}

</div>
