<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MRDC &ndash; {{ page.title }}</title>
    {% js jquery.js %}
    {% js bootstrap.js %}
    {% css main %}
    {% if page.scripts %}
      {% for script in page.scripts %}
        {% js {{script}} %}
      {% endfor %}
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:500|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
